extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
    script(type='text/javascript', src='assets/phaser.min.js')
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/logo.png", alt="logo")
    .navlink
      a(href="/logout") Log out
    input(type="hidden", name="myCharacter", value="#{myCharacter}")
  #slideMessage
    img#speech(src="/assets/img/skull.png", alt="skull")
    h3
      span#errorMessage
block scripts
        script(src="/assets/character.js")